@import './base.css';

.container {
    width: 800px;
    margin: 80px calc(50% - 400px);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    text-transform: capitalize;
}

.title {
    align-self: self-start;
    margin-left: 80px;
    font-size: 40px;
    margin-top: 20px;
}

.form {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.form-group-2 {
    grid-column: span 2;    
}

.form-group-3 {
    grid-column: span 2;    
}



.form input,
.form textarea {
    font-size: 20px;
    width: 100%;
    line-height: 1.2em;
    padding: 1em 0.4em;
    border: none;
    background-color: #E7E9FE;
    border-radius: 0.5em;
    font-family: inherit;
}

.form textarea {
    min-height: 100px;
    max-height: 400px;
    resize: vertical;
}

::placeholder {
    color: #233BF5;
    text-transform: capitalize;
}

.form-group-2 textarea {
    background-color: #C7CDFD;
    border-radius: 0.5em;
}

.form-group-3 textarea {
    background-color: #A5B1FD;
    border-radius: 0.5em;
}

button {
    width: 165px;
    height: 3em;
    margin: auto;
    background-color: #233BF5;
    color: #ffff;
    border: none;
    font-size: 18px;
    border-radius: 1.5em;
}

button:hover {
    cursor: pointer;
    background-color: #ffff;
    color: #233BF5;
    border: 2px solid #233BF5;

}



.bottom-text {
    color: #77C0AC;
    align-self: self-start;
    margin-left: 80px;
    margin-bottom: 20px;
}
